<div class="modal-header">
  <h4 class="modal-title">Mentorship responses</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.close()"
  ></button>
</div>
<ng-container *ngFor="let response of responses">
  <div class="modal-body">
    <div *ngIf="response">
      <p>
        {{ response?.mentor?.firstName + " " + response?.mentor?.lastName }}
        <b>{{ response?.response?.responseStatus + " " }}</b>
        your request!
      </p>
    </div>
  </div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close()"
    >
      Close
    </button>
    <button
      *ngIf="responseLength"
      type="button"
      class="btn btn-success"
      (click)="setNotificationAsSeen(response?.response?.id)"
    >
      OK
    </button>
  </div>
</ng-container>
<ng-container *ngIf="!responses.length">
  <div class="text-center">You don't have any respones!</div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="activeModal.close()"
    >
      Close
    </button>
  </div>
</ng-container>
