.registration-page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  
  .container {
    max-width: 700px;
    margin-top: 20px;
  }
  
  .col-md-8 {
    width: 100%;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav{
     margin-top: 10px;
    }
  } 
}