<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/loop_8596419.png"
        alt="Logo"
        width="30"
        height="24"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div
      *ngIf="loggedInUser$ | async as user"
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" routerLink="/advice-wall">Advice-wall</a>
        <a
          *ngIf="user.userType == 'Mentee'"
          class="nav-link"
          routerLink="/mentors"
          >Mentors</a
        >
      </div>
      <div>
        <button
          *ngIf="
            (mentees$ | async)?.length && user.userType === 'Mentor';
            else menteeBlock
          "
          class="btn btn-warning"
          [matMenuTriggerFor]="menu"
        >
          <b>{{ selectedMenteeName }}</b>
        </button>
        <mat-menu #menu="matMenu">
          <div *ngFor="let mentee of mentees$ | async">
            <button mat-menu-item (click)="onSelectMentee(mentee)">
              {{ mentee.firstName + " " + mentee.lastName }}
            </button>
          </div>
        </mat-menu>
        <ng-template #menteeBlock> </ng-template>
        <button
          *ngIf="currentMentorship && user.userType === 'Mentee'"
          class="btn btn-warning"
        >
          <b>Mentorship</b>
        </button>

        <button
          mat-icon-button
          class="btn btn-action"
          (click)="openNotification()"
        >
          <mat-icon
            [matBadge]="length"
            matBadgeColor="warn"
            [matBadgeHidden]="length === 0"
            >notifications</mat-icon
          >
        </button>
        <button type="button" class="btn btn-action" (click)="editUser()">
          <b>{{ userProfile?.firstName }} {{ userProfile?.lastName }}</b>
        </button>
        <button type="button" (click)="logout()" class="btn btn-action">
          <mat-icon mat-icon-button>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>
