<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/loop_8596419.png"
        alt="Logo"
        width="30"
        height="24"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div
      *ngIf="mentor$ | async as user"
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <ng-container *ngIf="menteesForMentor$ | async as mentees">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          <a class="nav-link" routerLink="/advice-wall">Advice-wall</a>
        </div>
        <div>
          <button
            *ngIf="mentees.length"
            class="btn btn-warning"
            [matMenuTriggerFor]="menu"
          >
            <b>{{ selectedMenteeName }}</b>
          </button>
          <mat-menu #menu="matMenu">
            <div>
              <div *ngFor="let mentee of mentees">
                <button mat-menu-item (click)="onSelectMentee(mentee)">
                  {{ mentee.firstName + " " + mentee.lastName }}
                </button>
              </div>
            </div>
          </mat-menu>

          <button
            mat-icon-button
            class="btn btn-action"
            (click)="openNotification()"
          >
            <mat-icon
              [matBadge]="length"
              matBadgeColor="warn"
              [matBadgeHidden]="length === 0"
              >notifications</mat-icon
            >
          </button>
          <button type="button" class="btn btn-action" (click)="editUser()">
            <b>{{ userProfile?.firstName }} {{ userProfile?.lastName }}</b>
          </button>
          <button type="button" (click)="logout()" class="btn btn-action">
            <mat-icon mat-icon-button>logout</mat-icon>
          </button>
        </div>
      </ng-container>
    </div>

    <div
      *ngIf="mentee$ | async as user"
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        <a class="nav-link" routerLink="/advice-wall">Advice-wall</a>
        <a class="nav-link" routerLink="/mentors">Mentors</a>
      </div>
      <div>
        <button *ngIf="currentMentorship" class="btn btn-warning">
          <b>Mentorship</b>
        </button>

        <button mat-icon-button class="btn btn-action" (click)="seeResponse()">
          <mat-icon
            [matBadge]="responsesLength"
            matBadgeColor="warn"
            [matBadgeHidden]="responsesLength === 0"
            >notifications</mat-icon
          >
        </button>
        <button type="button" class="btn btn-action" (click)="editUser()">
          <b>{{ userProfile?.firstName }} {{ userProfile?.lastName }}</b>
        </button>
        <button type="button" (click)="logout()" class="btn btn-action">
          <mat-icon mat-icon-button>logout</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>
