<table mat-table class="mat-elevation-z8" recycleRows [dataSource]="mentors">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Full Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.firstName + " " + element.lastName }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button type="button" class="btn btn-info" (click)="seeDetails(element)">
        See Details
      </button>
      <button
        [disabled]="disableButton$ | async"
        type="button"
        class="btn btn-success"
        (click)="requestMentorship(element)"
      >
        Request
      </button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
