.coming-soon-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
  }

  h1 {
    color: #0B2149;
    font-size: 4em;
  }