<div class="login-page">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8 mb-3">
        <h2 class="text-center mb-4">User Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
          <div class="form-group">
            <div class="row mb-3">
              <label for="input-email" class="col-sm-2 col-form-label"
                >Email</label
              >
              <div class="col-sm-10">
                <input
                  type="email"
                  class="form-control"
                  id="input-email"
                  formControlName="email"
                  placeholder="name@example.com"
                />
              </div>
              <div
                *ngIf="
                  loginForm.controls['email'].invalid &&
                  loginForm.controls['email'].touched
                "
                class="alert alert-danger"
              >
                Please enter a valid email address.
              </div>
            </div>

            <div class="row mb-3">
              <label for="input-password" class="col-sm-2 col-form-label"
                >Password</label
              >
              <div class="col-sm-10">
                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  id="input-password"
                />
              </div>
            </div>
            <button
              [disabled]="!loginForm.valid"
              type="submit"
              class="btn btn-success"
            >
              Login
            </button>
            <ngx-spinner
              bdColor="rgba(0, 0, 0, .38)"
              size="large"
              color="white"
              type="ball-scale-multiple"
              [fullScreen]="true"
              ><p style="color: white">Please wait...</p></ngx-spinner
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
