<div class="modal-header">
  <h4 class="modal-title">Add new task</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="activeModal.close()"
  ></button>
</div>
<form [formGroup]="taskForm" (ngSubmit)="submitForm()" style="padding: 10px">
  <div class="form-group">
    <label for="name">Title</label>
    <input
      type="text"
      id="title"
      class="form-control"
      formControlName="title"
    />
    <div
      *ngIf="
        taskForm.controls['title'].invalid && taskForm.controls['title'].touched
      "
      class="alert alert-danger"
    >
      Title is required.
    </div>
    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      class="form-control"
      formControlName="description"
    />
    <div
      *ngIf="
        taskForm.controls['description'].invalid &&
        taskForm.controls['description'].touched
      "
      class="alert alert-danger"
    >
      Description is required.
    </div>
    <label for="status">Status</label>
    <select id="status" class="form-control" formControlName="status">
      <option value="To Do" selected>To Do</option>
      <option value="In Progress">In Progress</option>
      <option value="Stuck">Stuck</option>
      <option value="Done">Done</option>
    </select>
    <div
      *ngIf="
        taskForm.controls['status'].invalid &&
        taskForm.controls['status'].touched
      "
      class="alert alert-danger"
    >
      Status is required.
    </div>
    <label for="dueDate">Due Date</label>
    <div style="display: flex; align-items: center">
      <input
        matInput
        [matDatepicker]="picker"
        id="dueDate"
        class="form-control"
        formControlName="dueDate"
        style="flex: 1"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </div>
    <mat-datepicker #picker></mat-datepicker>
    <div
      *ngIf="
        taskForm.controls['dueDate'].invalid &&
        taskForm.controls['dueDate'].touched
      "
      class="alert alert-danger"
    >
      Due date is required.
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary"
      data-bs-dismiss="modal"
      (click)="activeModal.close()"
    >
      Close
    </button>
    <button type="submit" class="btn btn-success" [disabled]="!taskForm.valid">
      Save
    </button>
    <ngx-spinner
      bdColor="rgba(0, 0, 0, .38)"
      size="large"
      color="white"
      type="ball-scale-multiple"
      [fullScreen]="false"
      ><p style="color: white">Please wait...</p></ngx-spinner
    >
  </div>
</form>
